@import '../../utilities/utilities.scss';
.header {
  min-height: 13%;
  display: flex;
  background: url('/images/background_1920_1080.jpg') no-repeat;
background-size:1980px 1080px; 
 isolation: isolate;
  z-index: 10;
  position:sticky;
top:0;
}
.header nav {

  z-index: 10;
  background-color: transparent;

padding-bottom:2rem

}
.flexWrapper{

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header ul {
  width: fit-content;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.header li {
  min-width: 90px;
}

.homeItem {
  font-size: 1.2rem;
  font-weight: 900;
}

.menuItem {
  font-size: 1rem;
}

.header a {
  padding: 1rem;
}
.header a:hover {
  background-color: $main-color-white__transparent20;
  border-radius: $border-radius;
  clip-path: polygon(1% 11%, 100% 0, 100% 100%, 0 94%);
}

.activeLinkHeader {
  background-color: $main-color-white__transparent20;
  border-radius: $border-radius;
  clip-path: polygon(1% 11%, 100% 0, 100% 100%, 0 94%);
}
.activeLinkFooter {
  border-bottom: 2px solid $main-color-white;
}

@media #{$laptop-up} {
  .header {
    background-size: 100%;
  }
  .header ul,
  .header li {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media #{$medium-up} {
  .homeItem {
    font-size: 1.3rem;
  }
  .menuItem {
    font-size: 1rem;
  }
  .header ul {
    gap: 2rem;
  }
}
