@import '../../utilities/utilities.scss';

.titleWrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: -6rem;
  h1 {
    text-transform: uppercase;
    border-radius: $border-radius;
    width: fit-content;
    padding: 1.5rem 10rem 1.5rem 3rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    background-color: $main-color-black__transparent-90;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  }
}

.pageBgImage {
  @include backgroundImage;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.articleWrapper {
  width: 100%;
  margin: 1rem auto;
}
.articleDecoration {
  background-color: $main-color-white__transparent20;
  border: 1px solid $main-color-white__transparent20;
  margin: 1rem 0;
}
article {
  background-color: $main-color-white;
  color: $main-color-black;
  margin: 2rem;
  padding: 2rem;
}

.page_layout {
  h2 {
    font-weight: 700;
  }
  ul {
    padding-left: 1rem;
  }
  p {
    padding-top: 0.5rem;
  }
  li {
    list-style-position: inside;
  }
  li::marker {
    content: '\2714\0020  ';
    // font-size: 1.5em;
  }
  blockquote {
    font-family: inherit;
    padding: 0.5rem 0.8rem;
  }
}
@media #{$medium-up} {
  .page_layout .articleWrapper {
    width: 80%;
  }
}
