@import 'utilities/utilities.scss';

body {
  background-color: $main-color-black;
  color: $main-color-white;
  height: 100%;
}
.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.section {
  @include generalLayout;
  width: 80%;
}
.errorPage {
  color: $main-color-black;
  text-align: center;
}
a {
  color: $main-color-white;
}
a:hover {
  cursor: pointer;
  color: $main-color-white;
}

p a {
  text-decoration: underline;
}
