@import 'utilities/utilities.scss';
.homeBgImage {
  @include backgroundImage;
}
.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;

  text-align: end;
}
.intro {
  padding: 3rem;
  background-color: $main-color-black__transparent-90;
}
.intro h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.intro h2 {
  font-size: 1.6rem;
  font-weight: 400;
}

@media #{$laptop-up} {
  .homeContainer {
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
  .intro {
    padding: 3rem;
    background-color: transparent;
  }
}
