@charset "UTF-8";
body {
  font-family: "Manjari", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-family: var(--ubuntu);
  line-height: 1.5;
}

/* -----------RESET STYLES --------------*/
/* Reset styles from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

* {
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Manjari", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-family: var(--ubuntu);
  line-height: 1.5;
}

/* -----------RESET STYLES --------------*/
/* Reset styles from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

* {
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: hsl(0, 0%, 23%);
  color: hsl(0, 0%, 97%);
  height: 100%;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.section {
  margin: 0 auto;
  max-width: 1366px;
  width: 80%;
}

a {
  color: hsl(0, 0%, 97%);
}

a:hover {
  cursor: pointer;
  color: hsl(0, 0%, 97%);
}

p a {
  text-decoration: underline;
}

/* Common */
body {
  font-family: "Manjari", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-family: var(--ubuntu);
  line-height: 1.5;
}

/* -----------RESET STYLES --------------*/
/* Reset styles from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

* {
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  min-height: 10%;
  width: 100%;
  display: flex;
}

.header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header ul {
  width: fit-content;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.header li {
  min-width: 90px;
}

.homeItem {
  font-size: 1.3rem;
}

.menuItem {
  font-size: 1rem;
}

.header a {
  padding: 1rem;
}

.header a:hover {
  background-color: hsla(0, 0%, 97%, 0.2);
  border-radius: 2px;
  clip-path: polygon(1% 11%, 100% 0, 100% 100%, 0 94%);
}

@media only screen and (min-width:1366px ) {
  .header ul,
  .header li {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width:576px ) {
  .homeItem {
    font-size: 1.6rem;
  }
  .menuItem {
    font-size: 1.3rem;
  }
  .header ul {
    gap: 2rem;
  }
}
body {
  font-family: "Manjari", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-family: var(--ubuntu);
  line-height: 1.5;
}

/* -----------RESET STYLES --------------*/
/* Reset styles from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

* {
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.footer {
  background-color: hsla(223, 78%, 27%, 0.8);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  min-height: 8%;
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 100%);
}

.footer ul {
  width: fit-content;
  display: block;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
}

.footer li {
  margin: 0 auto;
  width: fit-content;
  font-size: 0.8rem;
}

.footer li a {
  padding-bottom: 0.5rem;
}

.footer li a:hover {
  cursor: pointer;
  color: hsl(0, 0%, 97%);
  border-bottom: 2px solid hsl(0, 0%, 97%);
}

@media only screen and (min-width:576px ) {
  .footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0;
  }
  .footer li {
    font-size: 1rem;
  }
}
/* End Common */
/* Static pages */
body {
  font-family: "Manjari", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-family: var(--ubuntu);
  line-height: 1.5;
}

/* -----------RESET STYLES --------------*/
/* Reset styles from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

* {
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.titleWrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: -6rem;
}
.titleWrapper h1 {
  text-transform: uppercase;
  color: hsl(0, 0%, 97%);
  border-radius: 2px;
  width: fit-content;
  padding: 1.5rem 10rem 1.5rem 3rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
  background-color: hsla(0, 0%, 23%, 0.9);
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}

.pageBgImage {
  background-image: url("/images/background_1920_1080.jpg");
  position: absolute;
  isolation: isolate;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.articleWrapper {
  width: 100%;
  margin: 1rem auto;
  color: hsl(0, 0%, 23%);
}

.articleDecoration {
  background-color: hsla(0, 0%, 97%, 0.2);
  border: 1px solid hsla(0, 0%, 97%, 0.2);
  margin: 1rem 0;
}

article {
  background-color: hsl(0, 0%, 97%);
  margin: 2rem;
  padding: 2rem;
}

.page_layout h2 {
  font-weight: 700;
}
.page_layout ul {
  padding-left: 1rem;
}
.page_layout p {
  padding-top: 0.5rem;
}
.page_layout li {
  list-style-position: inside;
}
.page_layout li::marker {
  content: "✔  ";
}
.page_layout blockquote {
  font-family: inherit;
  padding: 0.5rem 0.8rem;
  color: hsl(0, 0%, 23%);
}
.page_layout a {
  text-decoration: underline;
  color: hsl(0, 0%, 23%);
}

@media only screen and (min-width:576px ) {
  .page_layout .articleWrapper {
    width: 80%;
  }
}
/* End pages*/
/* Home page */
body {
  font-family: "Manjari", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-family: var(--ubuntu);
  line-height: 1.5;
}

/* -----------RESET STYLES --------------*/
/* Reset styles from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

* {
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.homeBgImage {
  background-image: url("/images/background_1920_1080.jpg");
  position: absolute;
  isolation: isolate;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.intro {
  padding: 3rem;
  background-color: hsla(0, 0%, 23%, 0.9);
}

.intro h1 {
  font-size: 3.5rem;
}

.intro h2 {
  font-size: 2.2rem;
}

@media only screen and (min-width:1366px ) {
  .homeContainer {
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }
  .intro {
    padding: 3rem;
    background-color: transparent;
  }
}
/* End pages*/

/*# sourceMappingURL=bundle.css.map */
