// ------- COLOR THEME---------//

$main-color-black: hsl(0, 0%, 23%);
$second-color-blue: hsl(223, 78%, 27%);
$main-color-white: hsl(0, 0%, 97%);
$color-yellow: hsl(56, 100%, 50%);
$main-color-white__transparent20: hsla(0, 0%, 97%, 0.2);
$second-color-blue__transparent-80: hsla(223, 78%, 27%, 0.8);
$second-color-blue__transparent-60: hsla(223, 78%, 27%, 0.6);
$main-color-white__transparent-80: hsl(0, 0%, 97%, 0.8);
$main-color-black__transparent-90: hsl(0, 0%, 23%, 0.9);
$error-color: red;

// ------- OTHER STYLES---------//

$border-radius: 2px;
